#wrapper {
    text-align: center;
    background-color: white;
}
h1, input, p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    line-height: 1.2em;
}
h1 {
    font-size: 1.6em;
    font-weight: bold;
    line-height: 1.3em;
    margin-bottom: 10px;
}
input {
    font-size: 1em;
    height: 40px;
    margin: 4px 0px;
    padding: 3px;
    box-sizing: border-box;
}
.btnWrapper {
    margin: 0px auto;
}
#submitBtn {
    background-color: mediumblue;
    border: none;
    color: white;
}
@media only screen and (max-width: 480px){
    #wrapper {
        padding: 10px;
    }
    input {
        font-size: 1.2em;
        width: 100%;
        height: 40px;
        margin: 4px 0px;
        padding: 3px;
        box-sizing: border-box;
    }
}
@media only screen and (min-width: 481px){
    #wrapper {
        padding: 12px;
    }
    input {
        width: 49%;
    }
}
@media only screen and (min-width: 1024px){
    body {
        background-color: #eaeaea;
    }
    #wrapper {
        padding: 15px;
        width: 970px;
        margin: auto auto;
    }
    input {
        width: 24%;
    }
}